{% extends "base.html"%}
{% block content %}

<html>
  <head>
    <title>Welcome</title>
  </head>

  <body>
    <center>
      
      <div class="alert alert-success" role="alert">
        <h1 style="color: green;">Welcome to Order Shipping</h1>
      </div>

      <br>
      <div class="jumbotron">
        <div class="container">
          
          <div class="alert alert-primary" role="alert">
            <br>
            <h3 style="color: blue;">Order Shipping</h3>
            <br>

            <a target = '_blank' href="https://cloud.smartdraw.com/share.aspx/?pubDocShare=892B3EA2DD742B4D1A17265D5C36F99B426">
              <img src="../static/flowchart.png" 
                width="85%"
                alt="ideationology logo">
            </a>

          <br><br><br>
          </div>

          <br><br>
          <div class="alert alert-danger" role="alert">
            <br>
            <a target = '_blank' href="https://docs.oracle.com/en/cloud/saas/supply-chain-management/22a/faiom/set-default-value-for-scheduled-ship-date.html#s20069973">
              <h3 style="color: red;">Documentation</h3>
            </a>
            <br>

            <iframe 
            width="70%"
            height="500px"
            src="https://docs.google.com/document/d/e/2PACX-1vQ0NRrc6bGnXmPTlQC8SA-K1mWZ8z4xSs433nRqcqoEOMupTzCKf8Pz2dL7ccMNPwuCccBKZan8U6W5/pub?embedded=true"></iframe>

          <br><br><br>
          </div>

        </div>
      </div>

    </center>
  </body>
</html>

{% endblock %}
