{% extends "base.html"%}
{% block content %}

<html>
  <head>
    <title>Welcome</title>
  </head>

  <body>
    <center>
      
      <div class="alert alert-success" role="alert">
        <h1 style="color: green;">Welcome</h1>
      </div>

      <br>
      <div class="jumbotron">
        <div class="container">
          
          <div class="alert alert-primary" role="alert">
            <br>
            <h3 style="color: blue;">Ideationology Lab</h3>
            <br>

            <a target = '_blank' href="https://ideationologylab.herokuapp.com/">
              <img src="../static/ideationology.jpg" 
                width="85%"
                alt="ideationology logo">
            </a>

          <br><br>
          </div>

          <br><br>
          <div class="alert alert-danger" role="alert">
            <br>
            <h3 style="color: red;">My Other Projects</h3>
            <br>

            <a target = '_blank' href="https://imvicks.herokuapp.com/">
              <img src="../static/imvicks.png" 
                width="85%"
                alt="Projects">
            </a>
            <br><br>
          </div>

        </div>
      </div>

    </center>
  </body>
</html>

{% endblock %}
